#home-galery{
    background-color: hsl(240, 23%, 97%);
    padding: 100px 0;
    button{
        text-decoration: none;
        color: #000;
        font-weight: 500;
        margin-left: 50px;
        border: none;
        outline: none;
        background-color: transparent;
    }
}